section {
    padding-top: 80px;
    color : #025A4D;
    font-family: "Roboto Mono";
    overflow: hidden;
}

button {
    font-family: "Roboto Mono";
}

a,button {
    text-decoration: none;
    cursor: pointer;
}

.article {
    display: flex;
    gap : 3%;
    background-image: url("../../img/art-work/Background.png");
    background-repeat: no-repeat;

    .leftPart {

        img {
            width: calc(100% - 20px);
            aspect-ratio: 1/1;
            padding: 10px;
            background-color: white;
        }
    }

    .rightPart {
        font-family: "Roboto Mono";
        display: flex;
        .musicDescription {
            position: relative;
            .musicTitle {
                display: flex;
                padding-bottom: 5px;

            }

            .description {
                font-weight: 300;
                .person {
                    text-decoration: underline;
                    text-decoration-color: #2C70F4;
                    color: #2C70F4;
                    font-weight: 700;
                }
            }
            .born, .held {
                img {
                    width: 5%;
                }
            }
            
            .circleAnimation {
            position: relative;
            }
              
            .text span{
                position: absolute;
                width: 20px;
                text-align: center;
                transform-origin: bottom center ;
                font-family: "Roboto";
                font-weight: 500;
                color: #36B7FF;
            }
              
            .circle {
                position: absolute;
                background : #F6E53B;
                border-radius : 50%;
                margin : auto;
                box-shadow : 2px 4px #025A4D;
                aspect-ratio: 1/1;
            }
              
            .circle .play {
                position: relative;
                height : 0;
                width : 0;
                border-radius: 15%;
                transform:rotate(-11deg) ;
                z-index: 5;
            }
              
            .circle .play2 {
                position: absolute;
                height: 3px;
                width : 0;
                border-radius: 24%;
                transform:rotate(-11deg) ;
            }
        }

        .list-activity {
            padding: 35px 0 0 2%;

            h3 {
                font-weight: 900;
                font-family: "GT Super";
                padding-bottom: 15px;
            }
            .activity {
                display: flex;
                gap: 3%;
                font-weight: 300;
                align-items: center;
                padding-bottom: 8px;
                img {
                    height: 3%;
                    flex: .5;
                }
                .text {
                    flex : 15;
                }
                .state {
                    margin-left: auto;
                    padding: 4px 10px;
                    font-weight: 700;
                    flex: 2;
                    text-align: center;
                }
                .pending {
                    background: rgb(54, 183, 255, 0.21);
                    color : #1B94D9 ;
                }
                .passed {
                    background: rgb(2, 90, 77, 0.2);
                    color : #025A4D ;
                }
                .failed {
                    background: rgb(241, 79, 47, 0.12);
                    color : #F14F2F ;
                }
                b {
                    font-weight: 600;
                }
            }
        }
    }
}

@media all and (min-width : 801px) {
    p {
        font-size: 18px;
        font-size: 1.250vw;
    }

    section {
        padding-bottom: 41px;
    }

    .article {
        padding: 60px 9% 0 9%;
        background-size: 100% 100%;

        .leftPart {
            width: 47%;
        }

        /* RIGHT PART */
        .rightPart {
            display: flex;
            flex-direction: column;

            .musicTitle {
                font-size: 1.042vw;
            }

            .musicDescription{
                padding: 40px;
                padding-bottom: 80px;
                background-image: url("../../img/art-work/Background Line.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                display: flex;
                h2 {
                    margin-bottom: 30px;
                    font-size: 30px;
                    font-size: 2vw;
                }
                
                .description {
                    width: 80%;
                }
                b {
                    font-weight: 700;
                }
                .born, .held {
                    font-size: 1.389vw;
                    padding-bottom: 22px;
                    
                    &>* {
                        padding-right: 10px;
                    }
                    img {
                        width: 5%;
                    }
                }
                .circle {
                    width: 19%;
                    top: 2vw;
                    left: -7%;

                    .play {
                        margin: calc(45% - 1.1vw) calc(48% - 0.6vw);
                        border-top : 1.2vw solid transparent;
                        border-bottom : 1.2vw solid transparent;
                        border-left : 2.2vw solid white;
                    }
                    .play2 {
                        left: calc(45% - 0.6vw);
                        top: calc(45% - 1.1vw);
                        border-top: 1.5vw solid transparent;
                        border-bottom: 1.2vw solid transparent;
                        border-left: 2.3vw solid #CDBF2D;
                    }
                }
            
                .circleAnimation {
                    left: 108%;
                    bottom: 40px;

                    .text span {
                        height: 5vw; 
                        font-size: 1.5vw;
                    }
                }
            }

            .list-activity {

                h3 {
                    font-size : 1.250vw;
                }
                .activity {
                    p {
                        font-size: 0.833vw;
                    }
                }
            }
        }
    }
}

@media all and (max-width : 800px ) {

    p {
        font-size: 18px;
    }

    section {
        padding-bottom: 80px;
    }

    .article {
        padding : 50px 7%;
        margin-bottom: 30px;
        justify-content: center;

        .rightPart {
            padding: 0;
            flex-direction: column;
            
            .rightPartImage {
                img {
                    display: block;
                    width: calc(100% - 16px);
                }
            }

            .musicDescription{
                padding-top: 20px;
                display: block;

                .musicTitle {
                    flex-direction: column;
                    p {
                        order: 2;

                    }
                    img {
                        padding: 0 10px 10px 0;
                    }
                }

                .born, .held {
                    font-size: 1.389vw;
                    padding-bottom: 22px;
    
                    img {
                        width: 6%;
                    }
                }
                h2 {
                    margin-bottom: 30px;
                    font-size: 30px;
                }
                
            }
        }
        .circleAnimation {
            top: -500px;
            left : 85%;
        }
        
        .text span{
            height: 45px; 
            font-size: 13px;
        }
        
        .circle {
            width: 50px;
            top: 17px;
            left: -5%;
        }
        
        .circle .play {
            margin: calc(45% - 12px) 35%;
            border-top : 12px solid transparent;
            border-bottom : 13px solid transparent;
            border-left : 23px solid white;
        }
            
        .circle .play2 {
            left: 32%;
            top: 30%;
            border-top: 12px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 23px solid #CDBF2D;
        }
    }
}