
section {
    color : #025A4D;
    font-family: "Roboto Mono";
}

.article {
    position: relative;
    z-index: 0;
    height: 100%;
    .image {
        width: 100%;
        position: absolute;
    }

    .submit-sound {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
        }

        .form {
            display: grid; 
            grid-gap: 20px;
            padding-top: 60px;
            div {
                width: 100%;
            }
            input {
                margin-top: 10px;
                height: 45px;
                width: 100%;
                border : solid 1px #025A4D;
                color: #025A4D;
                font-family: "Roboto Mono";
                font-size: 15px;
                font-weight: bold;
                padding-left: 10px;

                &:focus {
                    border : solid 3px #025A4D;
                    outline: #025A4D;
                    background-color: #D6EBE8;
                }
            }
            .sound {
                input {
                    display: none;
                }
                #icon {
                    margin-top: 10px;
                    padding : 8px 2%;
                    width: 96%;
                    border: 1px solid #025A4D;
                    display: inline-block;
                    cursor: pointer;
                    background-color: white;

                    span {
                        font-weight: 300;
                        font-size: 15px;
                        position: relative;
                        bottom: 3px;
                        left: 8px;
                    }
                }
            }
            .button {
                height: 45px;
                width: 160px;
                position: relative;
                top: 60px;
                left: calc(50% - 80px);

                &::before {
                    content: '';
                    position: absolute;
                    width: 46px;
                    height: 53px;
                    right: -55px;
                    top: -45px;
                    background-image: url("../../img/submit-sound/Mushroom.png");
                    background-repeat: no-repeat;
                }
                button {
                    width: 100%;
                    height: 100%;
                    border: solid 1px #025A4D;
                    color: #025A4D;
                    font-family: "Roboto Mono";
                    font-size: 18px;
                    font-weight: 600;
                    background-color: #F6E53B;

                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(100% - 2px);
                        height: 7px;
                        border: solid 1px #025A4D;
                        transform: skewX(45deg);
                        bottom: -8px;
                        left: 4px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 95%;
                        border: solid 1px #025A4D;
                        transform: skewY(45deg);
                        right: -8px;
                        top: 4px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .square {
                    position: absolute;
                    width: 100%;
                    height: 98%;
                    border: solid 1px #025A4D;
                    left: 6px;
                    top: 7px;
                    z-index: -1;
                }
            }
        }
    }
}

@media all and (min-width : 801px) {
    section {
        padding-top: 8vh;
        height: calc(100vh - 8vh);

        .image {
            height: 100%;
        }

        .article {
            background-image: url("../../img/submit-sound/Background.png");
            background-repeat: no-repeat ;
            background-size: 100%;
            background-position-y: center;
        }

        h1 {
            font-size: 65px;
        }

        .submit-sound {
            width: 72%;
            padding: 0 7%;
            margin: 70px 7%;
            &::before {
                height: 100%;
                background-image: url("../../img/submit-sound/Background Line.png");
                top: 40px;
            }

            .name-lastName {
                display: flex;
                gap : 30px;
                .name {
                    width: 50%;
                }
                .last-name {
                    width: 50%;
                }
            }
        }
    }
}


@media all and (max-width : 800px) {

    section {
        padding-top: 89px;
        height: calc(100vh - 89px);

        .image{
            bottom: 0;
            height: 90%;
        }

    }

    .submit-sound {
        width: 72%;
        padding: 0 7%;
        margin: 30px 7% 0 7%;
        &::before {
            height: 104%;
            background-image: url("../../img/submit-sound/Background Line Mobile.png");
            top: 20px;
        }

        .name-lastName {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            .name {
                width: 100%;
            }
            .last-name {
                width: 100%;
            }
        }
    }
    h1 {
        display: block;
        height: 92px;
        padding: 0 12%;
    }
}


