section {
  padding-top: 80px;
  color: #025A4D;
  font-family: "Roboto Mono";
  overflow: hidden;
}

button {
  font-family: "Roboto Mono";
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

.article {
  display: flex;
  gap: 3%;
  background-image: url("../../img/art-work/Background.png");
  background-repeat: no-repeat;
}
.article .leftPart img {
  width: calc(100% - 20px);
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: white;
}
.article .rightPart {
  font-family: "Roboto Mono";
  display: flex;
}
.article .rightPart .musicDescription {
  position: relative;
}
.article .rightPart .musicDescription .musicTitle {
  display: flex;
  padding-bottom: 5px;
}
.article .rightPart .musicDescription .description {
  font-weight: 300;
}
.article .rightPart .musicDescription .description .person {
  text-decoration: underline;
  text-decoration-color: #2C70F4;
  color: #2C70F4;
  font-weight: 700;
}
.article .rightPart .musicDescription .born img, .article .rightPart .musicDescription .held img {
  width: 5%;
}
.article .rightPart .musicDescription .circleAnimation {
  position: relative;
}
.article .rightPart .musicDescription .text span {
  position: absolute;
  width: 20px;
  text-align: center;
  transform-origin: bottom center;
  font-family: "Roboto";
  font-weight: 500;
  color: #36B7FF;
}
.article .rightPart .musicDescription .circle {
  position: absolute;
  background: #F6E53B;
  border-radius: 50%;
  margin: auto;
  box-shadow: 2px 4px #025A4D;
  aspect-ratio: 1/1;
}
.article .rightPart .musicDescription .circle .play {
  position: relative;
  height: 0;
  width: 0;
  border-radius: 15%;
  transform: rotate(-11deg);
  z-index: 5;
}
.article .rightPart .musicDescription .circle .play2 {
  position: absolute;
  height: 3px;
  width: 0;
  border-radius: 24%;
  transform: rotate(-11deg);
}
.article .rightPart .list-activity {
  padding: 35px 0 0 2%;
}
.article .rightPart .list-activity h3 {
  font-weight: 900;
  font-family: "GT Super";
  padding-bottom: 15px;
}
.article .rightPart .list-activity .activity {
  display: flex;
  gap: 3%;
  font-weight: 300;
  align-items: center;
  padding-bottom: 8px;
}
.article .rightPart .list-activity .activity img {
  height: 3%;
  flex: 0.5;
}
.article .rightPart .list-activity .activity .text {
  flex: 15;
}
.article .rightPart .list-activity .activity .state {
  margin-left: auto;
  padding: 4px 10px;
  font-weight: 700;
  flex: 2;
  text-align: center;
}
.article .rightPart .list-activity .activity .pending {
  background: rgba(54, 183, 255, 0.21);
  color: #1B94D9;
}
.article .rightPart .list-activity .activity .passed {
  background: rgba(2, 90, 77, 0.2);
  color: #025A4D;
}
.article .rightPart .list-activity .activity .failed {
  background: rgba(241, 79, 47, 0.12);
  color: #F14F2F;
}
.article .rightPart .list-activity .activity b {
  font-weight: 600;
}

@media all and (min-width: 801px) {
  p {
    font-size: 18px;
    font-size: 1.25vw;
  }

  section {
    padding-bottom: 41px;
  }

  .article {
    padding: 60px 9% 0 9%;
    background-size: 100% 100%;
    /* RIGHT PART */
  }
  .article .leftPart {
    width: 47%;
  }
  .article .rightPart {
    display: flex;
    flex-direction: column;
  }
  .article .rightPart .musicTitle {
    font-size: 1.042vw;
  }
  .article .rightPart .musicDescription {
    padding: 40px;
    padding-bottom: 80px;
    background-image: url("../../img/art-work/Background Line.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
  }
  .article .rightPart .musicDescription h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-size: 2vw;
  }
  .article .rightPart .musicDescription .description {
    width: 80%;
  }
  .article .rightPart .musicDescription b {
    font-weight: 700;
  }
  .article .rightPart .musicDescription .born, .article .rightPart .musicDescription .held {
    font-size: 1.389vw;
    padding-bottom: 22px;
  }
  .article .rightPart .musicDescription .born > *, .article .rightPart .musicDescription .held > * {
    padding-right: 10px;
  }
  .article .rightPart .musicDescription .born img, .article .rightPart .musicDescription .held img {
    width: 5%;
  }
  .article .rightPart .musicDescription .circle {
    width: 19%;
    top: 2vw;
    left: -7%;
  }
  .article .rightPart .musicDescription .circle .play {
    margin: calc(45% - 1.1vw) calc(48% - 0.6vw);
    border-top: 1.2vw solid transparent;
    border-bottom: 1.2vw solid transparent;
    border-left: 2.2vw solid white;
  }
  .article .rightPart .musicDescription .circle .play2 {
    left: calc(45% - 0.6vw);
    top: calc(45% - 1.1vw);
    border-top: 1.5vw solid transparent;
    border-bottom: 1.2vw solid transparent;
    border-left: 2.3vw solid #CDBF2D;
  }
  .article .rightPart .musicDescription .circleAnimation {
    left: 108%;
    bottom: 40px;
  }
  .article .rightPart .musicDescription .circleAnimation .text span {
    height: 5vw;
    font-size: 1.5vw;
  }
  .article .rightPart .list-activity h3 {
    font-size: 1.25vw;
  }
  .article .rightPart .list-activity .activity p {
    font-size: 0.833vw;
  }
}
@media all and (max-width: 800px) {
  p {
    font-size: 18px;
  }

  section {
    padding-bottom: 80px;
  }

  .article {
    padding: 50px 7%;
    margin-bottom: 30px;
    justify-content: center;
  }
  .article .rightPart {
    padding: 0;
    flex-direction: column;
  }
  .article .rightPart .rightPartImage img {
    display: block;
    width: calc(100% - 16px);
  }
  .article .rightPart .musicDescription {
    padding-top: 20px;
    display: block;
  }
  .article .rightPart .musicDescription .musicTitle {
    flex-direction: column;
  }
  .article .rightPart .musicDescription .musicTitle p {
    order: 2;
  }
  .article .rightPart .musicDescription .musicTitle img {
    padding: 0 10px 10px 0;
  }
  .article .rightPart .musicDescription .born, .article .rightPart .musicDescription .held {
    font-size: 1.389vw;
    padding-bottom: 22px;
  }
  .article .rightPart .musicDescription .born img, .article .rightPart .musicDescription .held img {
    width: 6%;
  }
  .article .rightPart .musicDescription h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .article .circleAnimation {
    top: -500px;
    left: 85%;
  }
  .article .text span {
    height: 45px;
    font-size: 13px;
  }
  .article .circle {
    width: 50px;
    top: 17px;
    left: -5%;
  }
  .article .circle .play {
    margin: calc(45% - 12px) 35%;
    border-top: 12px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 23px solid white;
  }
  .article .circle .play2 {
    left: 32%;
    top: 30%;
    border-top: 12px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 23px solid #CDBF2D;
  }
}

/*# sourceMappingURL=art-work.css.map */
